/* =====================================================
   GENERAL
   ===================================================== */
* {
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Akshar', sans-serif;
    background-color: #f8faf9;
    color: #043029;
}

/* =====================================================
   HEADER: Logo + Nombre de la empresa
   ===================================================== */
.header {
    display: flex;                    /* Layout horizontal */
    justify-content: center;   /* Centrado horizontal */
    align-items: center;              /* Centrado vertical */
    background-color: #cfd7f7;        /* Color de fondo */
    gap: 150px;                  /* Espacio entre logo y título */
    width: 100%;
    height: 60px;
}

/* Título del header */
.header .titulo {
    font-size: 32px;
    font-weight: 600;
    color: #0b907c;
}

/* Logo */
.logo {
    width: 50px;
    height: 50px;
    object-fit: contain; /* Mantiene proporciones */
}

/* =====================================================
   NAV: Buscador + Menú de navegación
   ===================================================== */
.nav {
    display: flex;                   /* Layout horizontal */
    justify-content: space-between;   /* Buscador izquierda, menú derecha */
    align-items: center;
    padding: 10px 30px;
    background-color: #f3f5fd;
    gap: 20px;                 /* Espacio entre buscador y menú */
}

/* ---------------------
   Buscador principal
   --------------------- */
.buscador {
    display: flex;
    align-items: center;
    width: 300px;
    height: 36px;
    background-color: #e9efee;
    padding: 0 10px;
    border-radius: 8px;
    gap: 10px;
}

/* Imagen de lupa */
.buscador .icon-lupa {
    width: 24px;
    height: 24px;
}

.buscador .input-buscador {
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    font-weight: 400;
    color: #70948d;
    width: 100%;
}

.buscador .input-buscador::placeholder {
    color: #70948D;
}

/* ---------------------
   Menú hamburguesa (móvil)
   --------------------- */

.menu-hamburguesa {
  display: none;
  font-size: 32px;
  cursor: pointer;
  color: #0b907c;
}


/* ---------------------
   Menú de navegación
   --------------------- */
.menu-enlaces {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.menu-item {
    color: #0b907c;
    font-weight: 600;
}

.nav a {
    text-decoration: none;
    color: #0b907c;
}

/* =====================================================
   MAIN
   ===================================================== */
main {
    width: 100%;
}

/* =====================================================
   BLOQUE 1: Presentación
   ===================================================== */
.bloque-presentacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 450px;
    background-color: #e7ebfb;
    gap: 50px;
}

/* Contenido textual */
.contenido-presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
    width: 600px;
}

/* Título principal */
.titulo-principal {
    font-size: 48px;
    font-weight: 700;
    color: #0b907c;
}

/* Subtítulo */
.subtitulo {
    font-size: 24px;
    font-weight: 600;
    color: #043029;
}

/* Botón Explorar */
.btn-explorar {
    display: inline-block;
    width: 160px;
    height: 40px;
    background-color: #0fc0a6;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    border-radius: 6px;
    text-decoration: none; /* Para enlaces */
    cursor: pointer;
}

/* Imagen de presentación */
.imagen-presentacion {
    width: 500px;
    height: 400px;
    object-fit: cover;
    max-width: 40%;
}

/* =====================================================
   BLOQUE 2: Ofertas y Bestsellers
   ===================================================== */
.bloque-ofertas {
    background-color: #f3f5fd;
    display: grid;
    flex-direction: column;
    align-items: center;
    padding: 40px 32px;
    gap: 30px;
}

/* Título ofertas */
.titulo-ofertas {
    font-size: 18px;
    font-weight: 600;
    color: #043029;
    text-align: center;
}

/* Grid de tarjetas */
.grid-ofertas {
    display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 60px;
  justify-content: center;
}

/* Tarjeta libro */
.card-libro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e2e9e8;
    width: 200px;
    height: 250px;
    padding: 10px 0;
    gap: 5px;
}

/* Imagen libro */
.imagen-libro {
    width: 180px;
    height: 170px;
    object-fit: cover;
    border: 1px solid black;
}

/* Título del libro */
.titulo-libro {
    width: 180px;
    height: 39px;
    font-size: 12px;
    font-weight: 400;
    color: #043029;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Línea separadora */
.linea-separacion {
    width: 180px;
    border: 1px solid black;
}

/* Precio */
.precio-libro {
    font-size: 14px;
    color: #043029;
    text-align: center;
}

/* =====================================================
   BLOQUE 3: Buscador de tiendas físicas
   ===================================================== */
.bloque-tiendas {
    display: flex;
    flex-wrap: wrap;         /* Permite que las columnas bajen si no caben */
    gap: 40px;               /* Espacio entre columnas */
    row-gap: 15px;              /* Espacio vertical entre filas cuando se bajan columnas */
    padding: 15px 50px;
    background-color: #e7ebfb;
    justify-content: center; /* Centra las columnas cuando hay espacio extra */
}

/* Columna izquierda: buscador + mapa */
.div-mapa-buscador {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0 0 auto;          /* No se estira automáticamente */
    align-items: center;     /* Centra el contenido horizontalmente */
}

/* Buscador tiendas */
.buscador-tiendas {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 14px;
    width: 520px;
    height: 36px;
    border-radius: 8px;
    background-color: #dae3e2;
}

.buscador-tiendas .icon-lupa {
    width: 20px;
    height: 20px;
}

/* Input buscador tiendas */
.buscador-tiendas .input-buscador {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 16px;
    color: #70948d;
}

.buscador-tiendas .input-buscador::placeholder {
    color: #4A635E;
}

/* Imagen del mapa */
.imagen-mapa {
    width: 720px;            /* Mantener el ancho que tú quieres */
    height: 218px;           /* Mantener la altura que tú quieres */
    object-fit: cover;       /* Mantiene proporción y recorta si hace falta */
}

/* Columna derecha: listado de tiendas */
.div-tiendas-general {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0 0 auto;         /* No se estira automáticamente */
    width: 600px;            /* Mantener ancho fijo */
    align-items: center;     /* Centra las tarjetas horizontalmente */
}

/* Título de tiendas */
.titulo-tiendas {
    font-size: 32px;
    font-weight: 600;
    color: #043029;
}

/* Filas de columnas de tiendas */
.filas-tiendas {
    display: flex;
    gap: 120px;
}

/* Cada columna de tiendas */
.div-tiendas {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 160px;
}

/* Subtítulo columna */
.titulo-div {
    font-size: 22px;
    font-weight: 600;
    color: #043029;
}

/* Cada tienda */
.tienda {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* Nombre tienda */
.nombre-tienda {
    font-size: 18px;
    color: #25312F;
    font-weight: 600;
}

/* Dirección */
.direccion-tienda {
    list-style: none;
    
}

.direccion-tienda li {
    font-size: 14px;
    color: #4A635E;
    padding-left: 14px;
    position: relative;
}

.direccion-tienda li::before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #4a635e;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* =====================================================
   FOOTER
   ===================================================== */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    height: 120px;
    background-color: #cfd7f7;
    font-size: 16px;
    color: #25312f;
}

/* Redes sociales */
.footer-izquierda {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-izquierda .red-social {
    width: 40px;
    height: 40px;
}

/* Centro: enlaces */
.footer-centro {
    display: flex;
    gap: 30px;
    justify-content: center;
    text-align: center;
}

/* Lado derecho: copyright */
.footer-derecha {
    text-align: center;
}


/* =====================================================
   MAIN TIENDA
   ===================================================== */
.tienda-main {
    display: flex;
    background-color: #F3F5FD;
    flex-wrap: wrap; /* permite que las columnas bajen en tablet/móvil */
}

/* ===============================
   CATEGORÍAS
   =============================== */
.categorias {
    width: 30%;
    height: 30%;
    background-color: #E7EBFB;
    padding: 46px;
    box-sizing: border-box;
}

/* Título Categorías */
.titulo-categorias {
    width: 200px;
    height: 24px;
    font-family: 'Akshar', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #076053;
    text-align: center;
    margin: 0 auto 43px auto;
}

/* Grupo de opciones */
.grupo-categorias {
    display: flex;
    flex-direction: column;
    gap: 43px;
}

/* Cada opción */
.categoria-item {
    display: flex;
    align-items: center;
    height: 16px;
    gap: 10px;
}

/* Texto categoría */
.nombre-categoria {
    width: 200px;
    height: 16px;
    font-family: 'Akshar', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #0B907C;
}


/* ===============================
   PRODUCTOS
   =============================== */
.productos {
    width: 70%;
    background-color: #DBE1F9;
    padding: 25px 0px;
    box-sizing: border-box;
}

/* Grid 3x3 */
.grid-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 280px)); /* columnas fluidas */
    gap: 40px;
    justify-content: center; /* centra las tarjetas cuando no caben 3 columnas */
}

/* ===============================
   TARJETA PRODUCTO
   =============================== */
.card-producto {
    width: 100%; /* ahora ocupa el ancho de la columna, no fijo */
    max-width: 280px; /* para no crecer demasiado */
    height: auto; /* altura automática según contenido */
    background-color: #C3CDF5;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease;

}

.card-producto:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* Imagen */
.imagen-producto {
    width: 100%;  /* se adapta al ancho de la tarjeta */
    max-width: 240px; /* no crecer más de esto */
    height: 240px;
    border-radius: 5px;
    border: 1px solid #000;
    object-fit: cover;
}

/* Título */
.titulo-producto {
    width: 240px;
    height: 34px;
    font-family: 'Akshar', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #076053;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Descripción */
.descripcion-producto {
    width: 240px;
    height: 60px;
    font-family: 'Akshar', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #0B907C;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Precio */
.precio-producto {
    width: 240px;
    height: 16px;
    font-family: 'Akshar', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #0B907C;
    text-align: center;
}

/* Botón carrito */
.btn-carrito {
    width: 120px;
    height: 32px;
    border-radius: 8px;
    background-color: #16EDCD;
    border: none;
    color: #ffffff;
    font-family: 'Akshar', sans-serif;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

.btn-carrito:hover {
   box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

/* =====================================================
   RESPONSIVE DESIGN
   ===================================================== */
/* Evitar scroll horizontal */
img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
}

/* ===============================
   TABLET (601px - 1024px)
   =============================== */
@media (max-width: 1024px) {

  /* HEADER */
  .header {
    justify-content: space-between;
    padding: 15px 30px;
  }

  /* NAV */
  .nav {
    flex-direction: column-reverse;
  }

  .menu-enlaces {
    justify-content: center;
  }

  .buscador {
    align-self: center;
  }

  /* FOOTER */
  .footer {
    gap: 20px;
  }

  /* TIENDA - MAIN */
  .tienda-main {
    flex-direction: column;
    align-items: center;
  }

  .categorias {
    width: 100%;
    padding: 30px 15px;
    display: flex; /* Añadido para ayudar al centrado vertical/horizontal */
    flex-direction: column;
    align-items: center;
  }

  .grupo-categorias {
    display: flex;
    flex-direction: row;    /* Cambia de columna a fila */
    flex-wrap: wrap;        /* Permite que bajen a la siguiente línea */
    justify-content: center; /* Centra los grupos horizontalmente */
    padding: 20px;              /* Elimina padding para más espacio */;         /* Espacio entre filas y columnas */
    gap: 15px 25px;         /* Espacio entre filas y columnas */
    width: 100%;
  }

  .titulo-categorias {
    margin: 0 0 20px 0; /* Eliminamos el margin: auto para controlarlo mejor */
    width: 100%;        /* Que ocupe todo el ancho para poder centrar el texto */
    text-align: center;
  }

  .categoria-item {
    width: auto;            /* Se ajusta al contenido */
    height: auto;       /* Opcional: para que no se vean muy pegados */
    justify-content: center;
    gap: 8px;
  }

  .nombre-categoria {
    width: auto;            /* IMPORTANTE: elimina el ancho fijo de 200px */
    height: auto;
    text-align: left;       /* El texto se alinea con su icono, pero el grupo está centrado */
  }

  .productos {
        width: 100%;
        padding: 25px 30px;
    }

  .grid-productos {
    display: grid;
    gap: 20px;  /* gap entre tarjetas */
    justify-content: center; /* centra las columnas dentro de la sección */
  }

   .bloque-tiendas {
    flex-direction: column;
    gap: 15px;
  }

  .div-mapa-buscador,
  .div-tiendas-general {
    width: 100%;
    align-items: center;
  }

  .buscador-tiendas {
    width: 100%;
    max-width: 520px;
  }

  .imagen-mapa {
    width: 100%;
    max-width: 720px;
    height: auto;
  }

  .filas-tiendas {
    justify-content: center;
    gap: 80px;
  }

  .bloque-presentacion {
    padding: 0 30px;
    gap: 30px;
  }

  .contenido-presentacion {
    width: 100%;
    max-width: 500px;
  }

  .titulo-principal {
    font-size: 40px;
  }

  .imagen-presentacion {
    max-width: 45%;
  }

}

/* ===============================
   MÓVIL (0px - 600px)
   =============================== */
@media (max-width: 600px) {

  /* HEADER */
  .header {
    justify-content: center;
  }

  /* TIENDA: ocultar logo */
  .logo {
    display: none;
  }

  /* NAV - MENÚ HAMBURGUESA */
.menu-hamburguesa {
  display: block;
  align-self: flex-end;
}

.menu-enlaces {
  display: none;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  margin-top: 10px;
}

/* Mostrar menú al hacer click */
#menu-toggle:checked + .menu-hamburguesa + .menu-enlaces {
  display: flex;
}
  .buscador {
    width: 100%;
  }


  /* FOOTER */
  .footer {
    flex-direction: column;
    gap: 20px;
    height: auto;
    padding: 20px;
  }

  .card-producto {
    width: 100%;
  }

  .bloque-tiendas {
    padding: 20px;
  }

  .buscador-tiendas {
    width: 100%;
  }

  .imagen-mapa {
    width: 100%;
    height: auto;
  }

  .filas-tiendas {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .div-tiendas {
    width: 100%;
    max-width: 280px;
    align-items: center;
    text-align: center;
  }

  .direccion-tienda li {
    padding-left: 0;
  }

  .direccion-tienda li::before {
    display: none;
  }

  .bloque-presentacion {
    flex-direction: column;
    height: auto;
    padding: 30px 20px;
    gap: 30px;
  }

  .contenido-presentacion {
    width: 100%;
  }

  .titulo-principal {
    font-size: 32px;
    line-height: 1.2;
  }

  .subtitulo {
    font-size: 18px;
  }

  .imagen-presentacion {
    max-width: 100%;
    height: auto;
  }
  
  
}
